@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Hammersmith+One)

$subtle: rgb(213, 213, 213)
$dark: rgb(43, 41, 41)
$med:rgb(88, 88, 88)
$red: rgb(167, 43, 43)
$gold: rgb(154, 135, 51)

$small: 768px
$medium: 970px

body
  margin-top: 0px
  margin-bottom: 20px
  color: $dark
  font-family: 'Josefin Sans', sans-serif
  font-weight: 300

a
  font-weight: 700
  color: $med

h1
  font-size: 2em
  font-family: 'Hammersmith One', sans-serif

h2, h3, h4
  font-family: 'Hammersmith One', sans-serif

.nav-pills
  font-family: 'Hammersmith One', sans-serif

  li.active
    a
      background-color: $red
    a:hover
      background-color: $red
    a:focus
      background-color: $red

#breadcrumb-row
  padding: 10px 0px 10px 0px
  border-bottom: 1px solid $subtle
  color: $dark

#category
  margin-top: 20px
  font-size: 0.8em
  font-weight: 700
  color: $med

#thumbnails
  img
    margin-top: 20px
    border-left: 2px solid transparent
    @media screen and (max-width: $medium)
      display: none

  img:first-child
    margin-top: 40px

  .currentImage
    border-left: 2px solid $red

#mobile-thumbs
  img
    display: inline-block
    border-bottom: 2px solid transparent
    width: 33%

  .currentImage
    border-bottom: 2px solid $red

  @media screen and (min-width: $medium)
    display: none

#name
  margin-top: 0px

#price
  span
    padding: 0px 5px 0px 5px

#salePrice
  color: $red
  font-size: 2em

#regularPrice
  text-decoration: line-through

#regularPrice, #youSave
  font-size: 0.9em

#rating
  padding-top: 10px
  font-size: 0.9em
  .glyphicon
    color: $gold

#cart
  padding-top: 20px

#brandLogo
  margin-top: 20px

#product-menu
  margin-top: 100px
  margin-bottom: 50px
  @media screen and (max-width: $small)
    margin-top: 0px

#product
  margin-top: 50px

#description>p
  line-height: 1.8
  font-weight: 200
  margin-left: 20px

.video-thumb
  display: inline-block
  width: 30%
  margin-top: 40px
  font-weight: 700

.mock-video
  border: 1px solid $dark
  margin: 10px
  height: 120px
  background: $subtle

.modal-content
  height: 355px
  width: 600px
  padding: 20px

iframe
  border-radius: 5px

.item-thumb
  margin-bottom: 30px
  .item-title
    font-weight: 700
    margin-top: 5px
  .item-price
    color: $red

.t-head
  background: $med
  color: white
  font-weight: 700
