$subtle: gray
$dark: black
$med:rgb(88, 88, 88)
$red: rgb(167, 43, 43)
$gold: rgb(154, 135, 51)

body
  margin-top: 0px
  color: $dark

a
  font-weight: 700
  color: $med

#breadcrumb-row
  padding: 10px 0px 10px 0px
  border-bottom: 1px solid $subtle
  color: $dark

#category
  margin-top: 20px
  font-size: 0.8em
  font-weight: 700
  color: $subtle

#name
  margin-top: 0px

#price
  span
    padding: 0px 5px 0px 5px


#salePrice
  color: $red
  font-size: 2.5em

#regularPrice
  text-decoration: line-through

#regularPrice, #youSave
  font-size: 0.9em

#rating
  font-size: 0.9em
  .glyphicon
    color: $gold
